body {
    margin: 0px 30px 0px 30px;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 35px;
}

.header img {
    width: 100px;
    height: 100px;
}

.menucontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.6);
}

table {
    border: none;
    width: 485px;
}

tr .title {
    width: 467px;
    height: 70px;
}

tr .ex {
    width: 483px;
    height: 124px;
}

td {
    border: outset;
    padding: 10px;
}


.menuimg {
    width: 180px;
    height: 200px;
}

.menuName {
    font-size: 25px;
    font-weight: bold;
}

.menuPrice input {
    font-weight: 300;
    border: none;
    font-size: 20px;
    width: 50px;
}

.menuName input {
    border: none;
    font-size: 25px;
    font-weight: bold;
}

.option input {
    margin-bottom: 10px;

}

.menu1 .aaimg {
    width: 300px;
    height: 225px;
    padding: 0px;
    background-color: #CBE8E3;

}

.menu2 .vanillaimg {
    width: 300px;
    height: 225px;
    padding: 0px;
    background-color: #223B35;
}

.menu3 .strawberryimg {
    width: 300px;
    height: 225px;
    padding: 0px;
    background-color: #386143;
}

